body
{
    background-size: cover;
}
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#start , #number_of_objects , #start
{
    font-size: 18px;
}
.copy_right_footer 
{
position :  fixed;
color: black;
bottom: 0;
width: 100%;
background-color: #f5f5f5 ;
line-height: 3;
text-align: left;
}
canvas{
    border: 2px solid white;
    margin-top: 100px;
}